* {
  color: #ffffff;
  /* border: 5px solid white; */
}

html {
  background-color: #181818;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  background-color: #333;
  display: flex;
  width: 35%;
  flex-direction: column;
  align-items: center;
  border: 5px solid white;
}
#new-palette{
  background-color: #333;
  border: 1px solid white
}
button {
  background-color: #6b6b6b;
  margin: 10px 0;
}

.colors {
  padding: 10px 0;
}

.colors input {
  background: #6b6b6b;
}

#temp {
  border: 0;
}

#palettes{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.option{
  width: 100%;
  display: flex;
}

.copyButton{
  background-color: #6b6b6b;
  margin: auto;
  padding: 10px;
}

.exampleBackground{
  margin: auto;
  width: 50%;
}

.whiteBox{
  background-color: white;
  height: 30px;
  margin-bottom: -10px;
}

.blackBox{
  background-color: black;
  height: 30px;
  margin-top: -10px;
}

.newColor{
  display: inline;
  padding: 10px;
}

.newColor span {
  color: black;
}

.newPalette{
  width: 28%;
  text-align: center;
  border: 1px solid white;
  background-color: #333;
  margin: 2.5%;
}

.paletteTemp{
  margin: auto;
  padding: 10px
}

